.content-menu {
    @media only screen and (min-width : 481px) {
        width: $menu-width;
        float: left;
    }
}

.content {
    margin-left: $menu-width + $padding-normal;
    @media only screen and (max-width : 480px) {
        margin: $padding-normal 0;
    }
}
