body {
    background-color: $background;
    padding: $padding-normal;
}

* {
    font-family: $font-family;
    color: $font;
    size: $font-size;
}

header {
    padding: $padding-normal;
}

.content-menu {
    padding: 0;
    margin: 0;

}

.content_wrapper {
    clear: left;
    margin: $padding-normal 0;
}

.content {
}

footer {
    clear: both;
    margin: $padding-normal 0;
}

.left-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        padding: 5px 10px ;
    }
 }

 .breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid silver;
    height: 30px;

    & > li {
        display: block;
        padding: 10px 5px 10px 0;
        float:left;
        font-size: 12px;
    }
 }