* {
    font-family: $font-family;
    color: $font;
    size: $font-size;
}

body {
    background-color: $background;
    padding: $padding-normal;
}

header {
    padding: $padding-normal;
}

.content {
    margin-top: 20px;
    background-color: $light;
    border: 1px solid $light-border;
    // background-image: url('../img/bg.png');
    min-height: 600px;
    padding: $padding-normal;
    @include border-radius(6px);
}

footer {
    clear: both;
    margin: $padding-normal 0;
}