// COLOR
$font: #344A5F;
$background: #F0F1F2;
$dark: #344A5F;
$light: #f9f9f9;
$light-border: darken(#f9f9f9, 20%);
$success: #4AB471;
$error: #CF5C60;
$info: #2A94D6;
$warning: #F3AE4E;
$border: #293f54;
$base: #2980b9;

// FONT
$font-family: Arial, Helvetica, sans-serif;
$font-size: 1em;

// PAGE
$page-width: 900px;
$padding-normal: 20px;
