*~
*.db
*.cache
*.phar
*.TODO
*.lock
*.log

.project
.sass-cache

/source/app/config/parameters.yml
/source/app/tmp
/source/app/cache
/source/app/logs
/source/bin
/source/vendor
/source/web/bundles

/grunt/node_modules