*~
/source/*.db
/source/*.cache
/source/*.phar
/source/*.TODO
/source/*.lock
/source/app/config/parameters.yml
/source/app/tmp
/source/app/cache
/source/app/logs
/source/bin
/source/vendor
/source/web/bundles
.project
.sass-cache