{% extends 'TmtCoreBundle:Template:index.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/tmtcore/css/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tmtcore/css/icons.css') }}">
    {# <link rel="stylesheet" href="http://i.icomoon.io/public/temp/42fc0e7cae/tm-tool11/style.css"> #}
{% endblock %}

{% block body %}
<div class="page-body">
    <div class="login">
        {% if  app.user.username is defined %}
        {{ app.user.username }}
        <a href="{{ path('tmt_logout') }}">
            <span class="icon-power-off"></span>
        </a>
        {% endif %}
    </div>
    <header>
        {% block header %}{% endblock %}
    </header>
    <nav>
        {% block breadcrumb %}
        {% include 'TmtCoreBundle:Template:breadcrumb.html.twig' %}
        {% endblock %}
    </nav>
    <nav class="menu">
        {% block menubar %}
        {% include 'TmtCoreBundle:Template:menubar.html.twig' %}
        {% endblock %}
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</div>
{% endblock %}
