{% if app.environment == 'dev' %}
    {% set BASEDIR = app.request.basepath ~ '/app_dev.php/' %}
{% else %}
    {% set BASEDIR = app.request.basepath ~ '/app.php/' %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png" />
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript %}
            <script type="text/javascript">
                var BASEDIR = '{{ BASEDIR }}';
            </script>
            <script src="{{ asset('bundles/tmtcore/js/jquery.min.js') }}"></script>
            {% if app.environment == "dev" %}
            <script src="http://localhost:9000/livereload.js"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>