{% extends 'TmtCoreBundle::index.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/tmtcore/css/screen.css') }}">
{% endblock %}

{% block body %}
    <header>{% block header %}{% endblock %}</header>
    <div id="content_wrapper">
        <menu>{% block menu %}{% endblock %}</menu>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <footer>{% block footer %}{% endblock %}</footer>
{% endblock %}
