{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block title %}{{ 'Projekt'|trans }}{% endblock %}

{% block content %}
    <a href="{{ path('tmt_testcase_index', {projectId: projectId}) }}">Testfälle</a>
{% endblock %}
