<ul class="tmt-menu">
    <li>
        <a href="{{ path('tmt_project_default_index') }}">{{ 'Projekt'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('tmt_testcase_default_index') }}">{{ 'Testfall'|trans }}</a>
    </li>
</ul>