{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block title %}{{ 'Projekt löschen'|trans }}{% endblock %}

{% block content %}
    <form method="post" class="basic-form" action="{{ path('tmt_project_remove', {'projectId': projectId}) }}" autocomplete="off" novalidate>

        <div class="msg-box error">
            <div class="msg-box-description">Projekt wirklich löschen?</div>
            <div>
                <button class="msg-box-btn left" type="submit">{{ 'ja'|trans }}</button>
                <a class="msg-box-btn right" href="{{ path('tmt_project_show', {'projectId': projectId}) }}">nein</a>

            </div>
            <div class="clear"></div>
        </div>
    </form>
{% endblock %}
