{% extends 'TmtCoreBundle:Template:body.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block content %}
    <form action="{{ path('tmt_login_check') }}" method="post">
        <div class="login-row">
            <label class="login-label">
                <span class="icon-user"></span>
            </label>
            <input type="text" name="_username" value="" />
        </div>
        <div class="login-row">
            <label class="login-label">
                <span class="icon-key"></span>
            </label>
            <input type="password" name="_password" />
            <input type="hidden" name="_target_path" value="/" />
        </div>
        <div class="login-row">
            <label class="login-label">&nbsp;</label>
            <button type="submit">login</button>
        </div>
    </form>
{% endblock %}


